<div class="about-wrapper " >

  <div>
    <!-- <img class="about-pick" src="../../assets/resume.PNG" alt="my pick" > -->
    <div class="about-txt">
    <h2  class="line-one">Hi, I am naveen Patnaik .I  am a tech guy designation as front end developer . </h2>
    <h3> you know i can do magics on web pages a technical magic</h3>
</div>
<h4 class="wordCarousel">    
  
  <div> 

      <ul class="flip4"> 
          <li>Oh My!</li>
          <li>Swoosh</li>
          <li>Cool</li> 
          <li>Awesome</li>  
      </ul>
  </div>  
</h4>
</div>

</div>
