<div class="contact-wrapper">
    <div class="contact-info" id="contact">
        <div class="info">
<h3>Dharavatu Naveen</h3>
<h3>Name:7036128868</h3>
<h3>Email:Naveennani9100@gmail.com</h3>
<!-- <h3>hyderabad</h3> -->
</div>
<div class="address">
    <h3>KPHB Colony</h3>
    <h3>Hyderabad</h3>
    <h3>TS 500089</h3>
</div>
<div>
<share-buttons [theme]="'modern-dark'"
 [include]="['facebook','email','twitter','linkedin','messenger','whatsapp']"
 [show]="6"
 [url]="'https://twitter.com/'"
 [description]="'Hi,this is Naveen Patnaik.This link will redirest to my personal websit.Note: Opent it in the laptop or desktop becaue mobile view is under developing '" [autoSetMeta]="true">
</share-buttons>

</div>
    </div>


</div>
