<div>
  <div class="main-wrapper row">
  <div class="nav-wrapper" >
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li  class="name-txt">Naveen Patnaik</li>
          <li class="li-items active"><a href="#about">About</a></li>
          <li class="li-items"><a href="#qualification ">Qualification</a></li>
          <li class="li-items"><a href="#skills">Brain drop</a></li>
          <li class="li-items"><a href="#resume">Resume</a></li>
          <li class="li-items"><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div id="about">
    <app-about></app-about>
  </div>
  <div>
    <app-qualification></app-qualification>
  </div>
  <div>
    <app-skills></app-skills>
  </div>
  <div>
    <app-resume></app-resume>
  </div>
  <div><app-contact></app-contact></div>
</div>
</div>