<div class="resume-wrapper ">
<div class="row" >
 
    <div class="col-lg-12 col-md-12 res-div " id="resume">
       
    <mat-card >
        
     
        <div class="col-lg-4 col-md-4 dowloader">
            <img class=" col-lg-4 col-md-4 img" src="../../assets/resume.PNG">
            <h3 class="dow-txt"> Click to download  the Resume</h3>
            <a href="../../assets/Naveen-resume.pdf" download>
                <mat-icon>save_alt</mat-icon>
              </a>
        </div>
    </mat-card>
</div>

</div>
</div>
