<div class="quali-wrapper">
    <div class="levels" id="qualification">
        <mat-card>
            <mat-card-title>ENGINEERING </mat-card-title>
            <mat-card-content>
                <h3> VASAVI COLLEGE OF ENGINEERING</h3>
                    <h3> BRANDCH :CSE</h3>
                        <h3> PASS YESR:2019</h3>
                        <h5>LOCATION:HYDERABAD,TS</h5>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>DIPLOMA </mat-card-title>
            <mat-card-content>
              <h3> GOVT POLYTECHNIC NALGONDA</h3>
             <h3>  BRANDCH:DCME</h3>
             <h3> PASS YEAR:2016</h3> 
             <h5>LOCATION:NALGONDA,TS</h5>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>SCHOOLING </mat-card-title>
            <mat-card-content>
                <h3>  FR.BENDAL E/M HIGH SCHOOL</h3>
                    <h3>  PASS YEAR:2013</h3>
                    <h5>LOCATION:RAMANTHAPUR,HYDERABAD,TS</h5>
            </mat-card-content>
        </mat-card>
    </div>
    </div>
